*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    height: 40%;
    padding: 100px;
    background-color: #4F697B;
}

section{
    height: 100vh;
}

nav {
    float: left;
    height: 300px;
    width: 30%;
    background: #2B3642;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    padding: 10px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #40586A;
    height: 300px;
}

img{
    width: 300px;
}

footer {
    background-color: #4F697B;
    clear: both;
    padding: 10px;
    text-align: center;
    color: white;
    height: 10%;
}